* {
  margin: 0;
  padding: 0;
}
:root {
  --lineCorder: #333;
  --borderColor: #999;
  --nodeLeft: 10px;
  --nodeRight: 20px;
  --itemGap: 10px;
}
.node {
  display: flex;
  align-items: center;
}
.root {
  list-style: none;
}
.root input {
  border: 1px solid var(--borderColor);
  padding: 5px 10px;
  width: 10em;
}
.leaf {
  margin-left: var(--nodeLeft);
  padding-left: var(--nodeRight);
  position: relative;
  border-left: 1px solid var(--lineCorder);
}
.leaf.one {
  border-left: none;
}
.leaf::before {
  content: '';
  position: absolute;
  left: calc((var(--nodeLeft) + 1px) * -1);
  width: calc(var(--nodeLeft) + 1px);
  top: 50%;
  border-top: 1px solid var(--lineCorder);
}
.leaf li {
  list-style: none;
  position: relative;
}
.leaf li + li {
  margin-top: 10px;
}
.leaf li::before {
  /* content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(var(--nodeRight) * -1);
  width: var(--nodeRight);
  border-left: 1px solid var(--lineCorder); */
}
.leaf li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(var(--nodeRight) * -1);
  width: var(--nodeRight);
  border-top: 1px solid var(--lineCorder);
}

.leaf li:first-child::after {
  content: '';
  position: absolute;
  left: -22px;
  width: 3px;
  top: 0;
  bottom: 50%;
  background-color: white;
}
.leaf li:last-child::after {
  content: '';
  position: absolute;
  left: -22px;
  width: 3px;
  margin-top: 1px;
  top: 50%;
  bottom: 0;
  background-color: white;
}
.leaf li:last-child:first-child::after {
  content: '';
  position: absolute;
  left: -22px;
  width: 3px;
  margin-top: 1px;
  top: 50%;
  bottom: 0;
  background-color: white;
}
